.root-background {
    -fx-background-image: url("file:/C:/congnghejava/xuan.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.label {
    -fx-font-family: "Segoe UI", Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff; /* Đổi sang màu trắng tinh khiết */
    /* Đổ bóng đen đậm phía sau chữ để tách biệt hoàn toàn với nền đỏ */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 10, 0, 0, 0);
    -fx-padding: 2 10 2 10;
    -fx-background-color: rgba(0, 0, 0, 0.4); /* Tạo khung đen mờ dưới chữ */
    -fx-background-radius: 5px;
}

.text-field, .password-field {
    -fx-background-color: rgba(255, 255, 255, 0.9); /* Trắng đục 90% */
    -fx-text-fill: #333333; /* Chữ màu xám đậm cho dễ đọc */
    -fx-font-size: 14px;
    -fx-border-color: #ffd700;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button {
    -fx-background-color: #8b0000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 10px;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.button:hover {
    -fx-background-color: #ff4500;
    -fx-effect: dropshadow(gaussian, yellow, 15, 0.5, 0, 0);
}
.button-eye {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-text-fill:#ffffff; 
    -fx-border-color:rgba(255, 255, 255, 0.8);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-font-size: 19px;
}

.button-eye:hover {
    -fx-background-color: rgb(128, 255, 255);
    -fx-effect: dropshadow(gaussian, rgb(0, 255, 255), 5, 0.5, 0, 0);
}